.logContainer{
 width: 100%;
}
.logBox{
    margin-top: 3rem;
    width: 50%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 2px 2px 2px black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.logBox form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-inline: auto;
    gap: 1rem;
}.logBox form p{
    font-size: 0.8rem;
}
.logBox form input {
    border: none;
    padding: 1rem;
    padding-right: 2.5rem; /* Leave space for the eye icon */
    border-radius: 0.2rem;
    outline: none;
    width: 100%;
    position: relative; /* If needed */
}

span.w-full {
    position: relative; /* Ensures absolute positioning of child elements works */
}

span.w-full .absolute {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 1.25rem;
}

span.w-full .absolute:hover {
    color: #333; /* Change color on hover */
}

.logBox form input::placeholder{
    color: var(--card);
}
.button{
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.7rem;
    background-color: var(--button);
    color:var(--white);
    min-width: 5rem;
    font-weight:bold ;
    transition: 1s;
    margin-bottom: 1rem;
}
.button:hover{
    cursor: pointer;
    background-color: var(--card);
}
.logSide{
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

}
.logSide h2{
    font-size: 1.2rem;

}
.customSelect {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    width: 100%;
    max-width: 200px;
  }
  
  .customSelect:focus {
    outline: none;
    border-color: var(--card);  
  }

@media only screen and (max-width: 930px){
    .logSide h2{
        font-size: 1rem;
    }    
}
@media only screen and (max-width: 930px){
    .logSide {
        display: none;
    }    
}
@media only screen and (max-width: 450px){
    .logBox form input{
        width: 80%;
        margin-inline: auto;
    }
    .logBox form h2{
        font-size: 1rem;
    }
}