body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
  color: var(--text);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
  --button:#cc9000;
  --card:#0e4054;
  --white: #e0e0e0;
  --text: rgb(46, 45, 45);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
